<div class="row">
	<div class="col-lg-12">

		<h1>Add a New User</h1>

		<div class="row">
			<div class="col-lg-8">
				<% if (msg) { %>
					<div class="alert alert-danger" role="alert">
						<%- msg %>
					</div>
				<% } %>

				<form role="form" method="post" action="" enctype="multipart/form-data">
					<input type="hidden" name="_csrf" value="<%= token %>"/>
					<div class="form-group">
						<label for="form-email">Email</label>
						<input type="text" class="form-control" name="email" id="form-email" />
					</div>

				    <h3>Privledges</h3>

				    <h4>Interviews</h4>

				    <div class="well">
				    

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input name="add_interview" type="checkbox" checked="checked" />
									Add a new interview
								</label>
							</div>
							<p class="help-block"></p>
						</div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input name="remove_interview" type="checkbox" />
									Remove an interview
								</label>
							</div>
							<p class="help-block"></p>
						</div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input name="clone_interview" type="checkbox" checked="checked" />
									Clone an interview 
								</label>
							</div>
							<p class="help-block">This will copy an interview and all its deliverables.</p>
						</div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input name="edit_interviews" type="checkbox" checked="checked" />
									Edit Interviews
								</label>
							</div>
							<p class="help-block">This will restrict access to the interview page, except to the creator of the interview.</p>
						</div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input name="change_interview_status" type="checkbox" />
									Change the status of an interview
								</label>
							</div>
							<p class="help-block">The status of an interview refers to whehter is is available for the public to see or not.</p>
						</div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input name="lock_interview" type="checkbox" />
									Lock or unlock an interview
								</label>
							</div>
							<p class="help-block"></p>
						</div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input name="view_report" type="checkbox" checked="checked" />
									View interview report
								</label>
							</div>
							<p class="help-block">Locking an interview prevents anyone, except its creator from making changes to it.</p>
						</div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input name="edit_on_complete" type="checkbox" />
									Edit the on complete settings
								</label>
							</div>
							<p class="help-block"></p>
						</div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input name="edit_on_complete" type="checkbox" />
									Edit the on complete settings
								</label>
							</div>
							<p class="help-block"></p>
						</div>
					</div>

					<h4>Editor</h4>
					<div class="well">
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input name="editor_save" type="checkbox" checked="checked" />
									Save edits made to an interview
								</label>
							</div>
							<p class="help-block"></p>
						</div>
					</div>

					<h4>Users</h4>

					<div class="well">
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input name="edit_user" type="checkbox" />
									Edit a user
								</label>
							</div>
							<p class="help-block"></p>
						</div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input name="edit_privledges" type="checkbox" />
									Change a users privledges
								</label>
							</div>
							<p class="help-block"></p>
						</div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input name="view_users" type="checkbox" />
									View users
								</label>
							</div>
							<p class="help-block"></p>
						</div>
					</div>

					<h4>Deliverables</h4>

					<div class="well">
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input name="add_deliverable" type="checkbox" checked="checked" />
									Add a deliverable
								</label>
							</div>
							<p class="help-block"></p>
						</div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input name="remove_deliverable" type="checkbox" />
									Remove a deliverable
								</label>
							</div>
							<p class="help-block"></p>
						</div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input name="update_deliverable" type="checkbox" checked="checked" />
									Update a deliverable
								</label>
							</div>
							<p class="help-block"></p>
						</div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input name="download_deliverable" type="checkbox" checked="checked" />
									Download a deliverable
								</label>
							</div>
							<p class="help-block"></p>
						</div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input name="download_stylesheet" type="checkbox" checked="checked" />
									Download style sheet
								</label>
							</div>
							<p class="help-block"></p>
						</div>
					</div>

					<h4>Misc</h4>

					<div class="well">
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input name="view_completed_interviews" type="checkbox" />
									View completed interviews
								</label>
							</div>
							<p class="help-block">The completed interviews, as done by the clients. This included the processed deliverables, along with the answer set.</p>
						</div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input name="download_answer_set" type="checkbox" checked="checked" />
									Download style sheet
								</label>
							</div>
							<p class="help-block"></p>
						</div>
					</div>
					
					<button type="submit" class="btn btn-primary">Submit</button>
					<a href="/manager/users" class="btn btn-default pull-right">Cancel</a>
				</form>
			</div>

			<div class="col-lg-4">
				<div class="well">
					<h3>Help</h3>
					<p>If a user is already registered, submitting this form will <strong>overwrite</strong> their account information.</p>
				</div>
			</div>			
		</div>
	</div>
</div>