<div class="row">
  <div class="col-lg-12">

    <h1>Reset a User Password</h1>
    <p>The user will need to know this password to login hereafter.</p>
    
    <div class="row">
      <div class="col-lg-8">


      </div>
    </div>
  </div>
</div>