<div class="row">
	<div class="col-lg-12">

		<h1>Account</h1>

		<p>Logged in as <strong><i class="fa fa-user"></i> <%= name %></strong></p>
		<a class="btn btn-primary" href="/admin/logout"><i class="fa fa-circle-o-notch"></i> Logout</a>

	</div>
</div>