/*  Copyright 2014 Chris Zieba <zieba.chris@gmail.com>

    This program is free software: you can redistribute it and/or modify it under the terms of the GNU
    Affero General Public License as published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.
    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
    PURPOSE. See the GNU Affero General Public License for more details. You should have received a
    copy of the GNU Affero General Public License along with this program. If not, see
    <http://www.gnu.org/licenses/>.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	line-height: 1;
	color: black;
	font-size: 13px;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	background: #f2f2f2;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
code {
	font-family: Courier, "Courier New", monospace;
	letter-spacing: 1px;
}
strong, b {font-weight: 700;}
i {font-style: italic;}

.clear {clear: both;}
.none {display: none} 

p {
	line-height: 125%;
	color: #2f2f2f;
}
.overflow-auto {overflow:auto;}
/* grid.css */
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {float:left;margin-right:10px;}
.last {margin-right:0;}
.span-1 {width:30px;}
.span-2 {width:70px;}
.span-3 {width:110px;}
.span-4 {width:150px;}
.span-5 {width:190px;}
.span-6 {width:230px;}
.span-7 {width:270px;}
.span-8 {width:310px;}
.span-9 {width:350px;}
.span-10 {width:390px;}
.span-11 {width:430px;}
.span-12 {width:470px;}
.span-13 {width:510px;}
.span-14 {width:550px;}
.span-15 {width:590px;}
.span-16 {width:630px;}
.span-17 {width:670px;}
.span-18 {width:710px;}
.span-19 {width:750px;}
.span-20 {width:790px;}
.span-21 {width:830px;}
.span-22 {width:870px;}
.span-23 {width:910px;}
.span-24 {width:950px;margin-right:0;}
.right {float:right;}
/*******************************************************************************************************************
*  LINKS                                                                                                           *
*******************************************************************************************************************/
a, a:link, a:focus, a:visited, a:hover {color: #319BC2;;outline: 0;text-decoration: none}
a:visited {color: #319BC2;}
a:hover {color: #A55000;text-decoration: underline}

/*******************************************************************************************************************
*  TITLES                                                                                                          *
*******************************************************************************************************************/
h1, h2, h3, h4, h5 {margin: 0 0 10px 0;font-weight:bold;}
h1 {font-size: 22px;color: #626262; margin-bottom:17px;}
h2 {font-size: 1.2em;color: #9b9b9b;}
h3 {font-size: 1.0em;color: #6b6b6b;}
h4 {font-size: 0.9em;color: #6b6b6b;}
h5 {font-size: 0.8em;color: #6b6b6b;}

.bold {font-weight: 700}
.green {color:#060;}
.red {color:#FF0000;}
.uppercase {text-transform: uppercase;}
.center {text-align: center;}







.important { font-weight:800; text-transform:uppercase; }
.date-format { font-weight:normal;color:#515151;font-style:italic;}
.right {float:right;}
.small { font-size: 0.9em;}
.xsmall { font-size: 0.8em;}
.grey { color: #646464;}
.e-404 {
	font-size:88px; 
	color:#bfbfbf;
	margin-bottom: 30px;
	font-weight: 900;
	font-family: monospace;
	letter-spacing: -5px;
	word-spacing: -10px;
}
.p-404 {font-size:24px; color:#666;}
.l-404 {
	margin: 30px 0 0 10px;
	padding-left:30px;
	list-style-type: lower-roman; 
	color:#999;
	font-size:24px;
}
.login-help {
	display:block;
	margin: 10px auto 0 auto;
	padding:0;
	width:330px;
	overflow:hidden;
	font-size:11px;
	text-align: right;
}

.login-help .separator {
    color: #999999;
    margin: 0 3px 0 3px;
    font-size:10px;
}

.login-help a {
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

#login-container {
	display:block;
	margin: 100px auto 0 auto;
	padding:60px 15px 15px 15px;
	border: 1px solid #d0d0d0;
	-webkit-box-shadow: 0 0 122px #c0c0c0;
	-moz-box-shadow: 0 0 122px #c0c0c0;
	box-shadow: 0 0 122px #c0c0c0;
	width:300px;
	overflow:hidden;
	height:150px;
	background:white;
	font-size:12px;
}

#login-container p {
	float:left;
	width:290px;
}

#login-container p label {
	width:60px;
	height:24px;
	padding-top:5px;
	float:left;
	margin-right:7px;
	font-size:0.9em;
	letter-spacing:1px;
	color: #6d6d6d;
}

#login-container .textfield {
	width:210px;
	float:left;
	outline:0;
	outline:none;
	border: 1px solid #b6b6b6;
	font-family: 'Courier New', Courier, monospace;
	font-size:0.9em;
	height:20px;
	padding-left:4px;
}

#login-container .login-button, input[type=submit], button[type=submit] {
	font-size: 11px;
	font-weight: 700;
	text-decoration: none;
	padding: 0 14px 0 14px;
	text-shadow: 0px 1px 0px #fff;
	line-height: 14px;
	height:28px;
	background-color: #e6e8e5;
	border: 1px solid #888888;
	display: inline-block;
	margin: 10px 8px 10px 0;
	background: #f7f6f4;
	background: -moz-linear-gradient(top, #f7f6f4 0%, #e0e1e2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f6f4), color-stop(100%, #e0e1e2));
	background: -webkit-linear-gradient(top, #f7f6f4 0%, #e0e1e2 100%);
	background: -o-linear-gradient(top, #f7f6f4 0%, #e0e1e2 100%);
	background: -ms-linear-gradient(top, #f7f6f4 0%, #e0e1e2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f6f4', endColorstr='#e0e1e2',GradientType=0 );
	background: linear-gradient(top, #f7f6f4 0%, #e0e1e2 100%);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), inset 0px 1px 0px #ffffff;
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), inset 0px 1px 0px #ffffff;
	-o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), inset 0px 1px 0px #ffffff;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), inset 0px 1px 0px #ffffff;
	cursor: pointer;
	vertical-align: top;
	outline:none;
}

#login-container .login-button:hover, input[type=submit]:hover, button[type=submit]:hover {
	background: #f7f6f4;
	background: -moz-linear-gradient(top, #f7f6f4 0%, #f2f2ef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f6f4), color-stop(100%, #f2f2ef));
	background: -webkit-linear-gradient(top, #f7f6f4 0%, #f2f2ef 100%);
	background: -o-linear-gradient(top, #f7f6f4 0%, #f2f2ef 100%);
	background: -ms-linear-gradient(top, #f7f6f4 0%, #f2f2ef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f6f4', endColorstr='#f2f2ef',GradientType=0 );
	background: linear-gradient(top, #f7f6f4 0%, #f2f2ef 100%);
	cursor:pointer;
}

.confirm {
	font-size: 11px;
	font-weight: 700;
	text-decoration: none;
	padding: 6px 14px 6px 14px;
	line-height: 14px;
	height:14px;
	background-color: #C82B2B;
	border: 1px solid #7f3131;
	display: inline-block;
	margin: 10px 8px 10px 0;
	background: #E44E53;
	background: -moz-linear-gradient(top, #E44E53 0, #D43D42 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, #E44E53),color-stop(100%, #D43D42));
	background: -webkit-linear-gradient(top, #E44E53 0, #D43D42 100%);
	background: -o-linear-gradient(top, #E44E53 0, #D43D42 100%);
	background: -ms-linear-gradient(top, #E44E53 0, #D43D42 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e44e53', endColorstr='#d43d42', GradientType=0 );
	background: linear-gradient(top, #E44E53 0, #D43D42 100%);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .12),inset 0 1px 0 #C66E6E;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.12),inset 0 1px 0 #c66e6e;
	-o-box-shadow: 0 1px 1px rgba(0,0,0,.12),inset 0 1px 0 #c66e6e;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .12),inset 0 1px 0 #C66E6E;
	cursor: pointer;
	outline:none;
}

.confirm span {
	display:block;
	color:white;
}

.confirm:hover {
	background: #e44e53;
	background: -moz-linear-gradient(top, #e44e53 0%, #ee6368 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e44e53), color-stop(100%, #ee6368));
	background: -webkit-linear-gradient(top, #e44e53 0%, #ee6368 100%);
	background: -o-linear-gradient(top, #e44e53 0%, #ee6368 100%);
	background: -ms-linear-gradient(top, #e44e53 0%, #ee6368 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e44e53', endColorstr='#ee6368',GradientType=0 );
	background: linear-gradient(top, #e44e53 0%, #ee6368 100%);
	text-decoration: none;
}



#login-container .error {
	float:left;
	width:290px;
	margin-top:4px;
	color:red;
	font-size:0.9em;
	font-weight:700;
	letter-spacing:1px;
	text-align:center;
}

#admin {
	min-width:1024px;
	display:block;
	clear:both;
	position:relative;
}

.label {
	color:#4B4B4B;
	font-size:12px;
	font-weight:800;
	margin-left:5px;
	float:left;
	width:150px;
}

input.ab,
input.ac 
{
	border: 1px solid #d3d3d3;
	outline:none;
	height:24px;
	font-size: 12px;
	padding-left: 4px;
	font-family:Arial;
	letter-spacing:1px;
}

input.ab { width: 385px; }
input.ac { width: 95%; }

.textarea-a {
	border: 1px solid #d3d3d3;
	outline:none;
	font-family:Arial;
	height:100px;
	font-size: 0.9em;
	padding-left: 4px;
	letter-spacing:1px;
}

.textarea-a { width: 385px; }


.success { 
	font-size:16px;
	line-height: 20px;
	margin:10px 0 25px 0;
	padding:6px 10px;	
	float:left;
	clear:both;
	width:600px;
	color: #090;
	border:1px solid #090;	
}

#admin .error {
	width:600px;
	line-height: 16px;
	font-size:14px;
	float:left;
	margin: 0 0 15px 0;
	padding:15px;
	color: red;
	border: 1px solid red;
}

#admin .error a {
	color:red;
	font-weight: bold;
	text-decoration: underline;
}
#admin .error ul {
	list-style-type: disc;
}

#admin .error ul li {
	margin-left:30px;
	padding:2px 0;
}

#admin .header-container {
	height:65px;

	background:#363636;
}

#admin .header {
	height:65px;
	width:1004px;
	margin:0 auto;
	display:block;
	padding:0 10px;
}

#admin .footer-container {
	height:25px;
	padding-top:10px;



}

#admin .footer {
	height:20px;
	width:1024px;
	margin:0 auto;
	display:block;
}

#admin .header h1 {

	color:#d0d0d0;
	float:left;
	width:300px;
	margin: 0;
}

#admin .header .acc {
	float:right;
	width:400px;
	margin-top: 10px;
	text-align:right;
	color:#ddd;
}

#admin .header .acc a {
	color:#ddd;
	font-size:12px;
}

#admin .header .acc a:hover {
	color: #319BC2;
}

#admin .nav-container {
	height:30px;
	background:#e1e1e1;
	border-bottom:1px solid #e1e1e1;
	-webkit-box-shadow:0 2px 12px 1px #797979;	
	-moz-box-shadow:0 2px 12px 1px #797979;	
	box-shadow:0 2px 12px 1px #797979;	
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
}

#admin .nav {

	height:30px;
	width:1024px;
	margin:0 auto;
	display:block;
}

#admin .nav .search {
	float:right;
	width:150px;
}

#admin .nav .search .box{
	float:right;
	background: white;
	height:14px;
	padding: 3px 6px 3px 8px;
	width: 202px;
	border: solid 1px #BCBBBB;
	outline: none;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	font-size:0.9em;
	margin-top:4px;
	color:#c5c5c5;
}

#admin .nav-buttons {
	float:left;
	width:1004px;
	margin: 0;
	padding: 0 10px;
}

#admin .nav-buttons li.active {
	background: #e5e5e5;
	-moz-box-shadow: inset 0 0 2px 2px #dbdbdb;
	-webkit-box-shadow: inset 0 0 2px 2px #dbdbdb;
	box-shadow: inset 0 0 2px 2px #dbdbdb;
}
#admin .nav-buttons li.active:hover {
	background: #e5e5e5;
	color:#777777;
}

#admin .nav-buttons li {
	float:left;
	height:20px;
	font-size:12px;
	font-weight:bold;
	padding:9px 20px 2px 0;

}

#admin .nav-buttons li a {
	color:#777;
	cursor:pointer;
}
#admin .nav-buttons li.nav-b-au {
	float:right;
	padding:8px 0 2px 20px;
}

#admin .nav-buttons li a:hover {
	color:black;
	text-decoration:none;
}

#admin .contents-container {
	width:1022px;
	margin:35px auto 45px auto;
	background:white;
	padding:0;
	border:1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 77px #c0c0c0;
	-moz-box-shadow: 0 0 77px #c0c0c0;
	box-shadow: 0 0 77px #c0c0c0;
	overflow:hidden;
}
#admin .contents-container-404 {
	width:1024px;
	margin:35px auto 45px auto;
	background:#f2f2f2;
	padding:0;
	overflow:hidden;
	min-height: 340px;
}
#admin .contents {

	padding: 20px 25px;
	display: block;
	float: left;
	width: 976px;


}


.contents h1 {
	font-weight: 700;
	font-size: 26px;
	color:#33383D;
	margin-bottom:30px;
}

.side h2 {
	font-weight: bold;
	color:#33383D;
	font-size: 13px;
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom: 1px dotted #DDD;
}

.wide {
	float: left;
	width: 640px;
}

.side {
	float: right;
	width: 260px;
	overflow: hidden;
	padding:20px;
   	background-color: #f1f1f1; 

}


.side p {
	font-size: 12px;
	color: #888;
	line-height: 15px;
}


/* table */
.table {
	border: 1px solid #d4d4d4;
   	float:left;
   	margin: 0 0 20px 0;	
}

.table thead {
	padding: 5px 0 3px 5px;
	text-align: left;
	color: #4B4B4B;
}

.table th {
	font-weight:800;
	text-align: left;
	color: #454545;
	padding: 6px;
	border: 1px solid #d4d4d4;
}

.table tbody {
	background-color: white;
}

.table td {
	border: 1px solid #d4d4d4;
	padding: 8px 6px;
	color:black;
	vertical-align: top;
	font-size:13px;
	color:#424242;
	line-height: 135%;
}

/* -- */

.table thead.a { background-color: #c0e0eb; }
.table thead.b { background-color: #EFEFEF; }
.table tbody.a { background-color: white; }
.table tbody.b { background-color: #F1F1F1; }
.table tr.b { background-color: #F1F1F1; }
.table td.a { background-color:white }

.side-table { width: 200px; }
.side-table td { padding: 4px 6px; border: 0px solid white;}

.add-table {	width: 630px; }
.add-table td { border: none; padding: 15px 10px 10px 10px}

.display-table {	width: 970px;}
.interviews-table { width: 750px; }

.users-table { width: 385px; }
.users-table td { background: #f1f1f1; border: none; padding:0 0 3px 0;}

.reports-table { width: 872px; margin:0 8px 20px 8px;}
.reports-table td.qr-t-hd {
	font-weight:900;
	text-align: left;
	color: #454545;
	border: 1px solid #d4d4d4;
	background-color: #F1F1F1;
}

.display-table th.description {	width: 490px; }




.reports-table h1 {
	font-size: 24px;
	line-height:30px;
	margin-bottom:3px;
}

.reports-table h2 {
	font-size: 20px;
	margin-bottom: 8px;
}

.reports-table ul {
	list-style-type:disc;
	margin: 0 0 15px 35px;
}

.reports-table ol {
	margin: 0 0 15px 35px;
	list-style-type: decimal
}

.reports-table ul li, .reports-table ol li  {
	margin: 0 0 5px 15px;
}

.contents .title {
	margin:0 0 10px 0;
	padding-top:6px;
	float:left;
	width:600px;	
}

.contents .tools {
	margin: 0;
	float:right;
	width:200px;
}

.tools .btn,
.tools .btm,
.tools .bto {
	float: right;
	margin-left: 10px;
	font-size: 12px;
	height: 14px;
	display: inline-block;
	cursor: pointer;
	padding: 4px 10px;
	font-weight: 700;
	line-height: 1;
	border: 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.tools .btn { background-color:#363636; color:white;}
.tools .btm { background-color:#e1e1e1; color: black;}
.tools .bto { background-color:#134A4F; color: white;}

.tools .btn:hover {
	background-color:#464646;
}

.tools .bto:hover {
	background-color:#539DAA;
}


.options-menu {
	width:44px;
	height:22px;
	float:left;
	padding: 0;
	margin: 0;
}

.options-menu li {
	width:20px;
	padding: 1px;
	float:left;
	height:20px;
	background: url('../images/editor/icons.png') no-repeat;
	text-indent:-9999px;
	font-size:0;
	cursor:pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.options-menu li a {
	float:left;
	width:21px;
	height:21px;
	text-indent: -9999px;
	font-size: 0;
	color:white;
}

.options-menu li:hover { background-color:#e1e1e1; }

.options-menu li.remove { background-position: -72px -34px; }
.options-menu li.edit { background-position: -70px -274px;  }
.options-menu li.clone { background-position: -105px -752px; }
.options-menu li.download { background-position: -106px -725px; }

.ql-con {
	float:left;
	width:100%;
}
.ql-con a {
	font-weight: 700;
	float:left;
	margin-top:5px;
}

.ql-con span {
	width:20px;
	padding: 2px 2px 2px 2px;
	float:left;
	height:18px;
	background: url('../images/editor/icons.png') no-repeat;
	text-indent:-9999px;
	font-size:0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.ql-con .ql-add { background-position: -70px -4px; }
.ql-con .ql-edit { background-position: -106px -603px; }
.ql-con .ql-preview { background-position: -107px -514px; }
.ql-con .ql-report { background-position: -108px -34px;  }
.ql-con .ql-lock { background-position: -107px -663px; }
.ql-con .ql-live { background-position: -70px -484px; }
.ql-con .ql-stage { background-position: -107px -452px; }
.ql-con .ql-users { background-position: -108px -302px; }
.ql-con .ql-settings {background-position: -141px -122px; }
.ql-con .ql-complete {background-position: -108px -332px; }

.dash-out-dn,
.dash-out-do
{
	overflow:hidden;
	float:left;
	display:block;
	margin:0 0 2px 0;
	padding:0 0 1px 0;
}

.dash-out-dn {
	min-width:250px;
	max-width:320px;
}

.dash-out-do {
	width:60px;
}

.dash-out-dn span,
.dash-out-do span 
{
	width:16px;
	float:left;
	height:16px;
	background: url('../images/editor/icons.png') no-repeat;
	text-indent:-9999px;
	font-size:0;
	margin:0 4px 0 0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dash-out-dn a {
	float:left;
	max-width:300px;
	overflow:hidden;
}
.dash-out-dn .ql-rtf { background-position: -218px -697px; }
.dash-out-dn .ql-pdf { background-position: -218px -728px; }
.dash-out-do .ql-json { background-position: -220px -756px; }


/* report for the itnerview */
.qr-ctn {
	width:888px;
	border: 1px solid #d4d4d4;
   	float:left;
   	margin-bottom:15px;
}

.qr-qid {
	background: black;
	color:white;
	padding:4px 8px;
	width:28px;
   	float:left;
   	text-align:center;
}

.qr-title {
	background: #d4d4d4;
	padding:4px 8px;
	width:828px;
   	float:left;
}

.qr-step {
	background: #E4E4E4;
	padding:4px 8px;
	width:872px;
   	float:left;
   	margin-bottom:15px;
}

.qr-text {
	padding:4px 8px;
	width:872px;
   	float:left;
   	margin-bottom:15px;
}

.qr-fie-va {
	list-style-type: circle;
	padding-left:15px;
}

.qr-fie-va li {
	margin-bottom:6px;
}

.nfo-con {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width:12px;
	height:12px;
	margin-left:5px;
}

.nfo-con .display {
	font-size: 0;
	text-indent:-9999px;
	cursor: pointer;
	width:12px;
	height:12px;
	background: url('../images/editor/icons.png') no-repeat;
	background-position: -221px -609px;
}

.nfo-con .body {
	position: absolute;
	border:2px solid #F0C36D;
	bottom:20px;
	left:-85px;
	width: 175px;
	height: auto;
	display:none;
	padding:10px;
	background:#F9EDBE;
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #CCC;
	box-shadow: 5px 5px 5px #CCC;
  	z-index:20000;
}

.m-e-lst {
	margin-left:15px;
}

.m-e-lst li {
	display:block;
	padding: 2px 4px;
}