/*  Copyright 2013 Chris Zieba <zieba.chris@gmail.com>

    This program is free software: you can redistribute it and/or modify it under the terms of the GNU
    Affero General Public License as published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.
    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
    PURPOSE. See the GNU Affero General Public License for more details. You should have received a
    copy of the GNU Affero General Public License along with this program. If not, see
    <http://www.gnu.org/licenses/>.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
img {
	border: 0;
	outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	height:100%;
}
body {
	line-height: 1;
	color: black;
	font-size: 16px;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	background: #f0f0f0;
	height: 100%;
	min-width: 400px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
code {
	font-family: Courier, "Courier New", monospace;
	letter-spacing: 1px;
}
strong, b {font-weight: 700;}
i {font-style: italic;}
.clear {clear: both;}
.none {display: none} 

p {
	font-size: 1.0em;
}
.overflow-auto {overflow:auto;}
/* grid.css */
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {float:left;margin-right:10px;}
.last {margin-right:0;}
.span-1 {width:30px;}
.span-2 {width:70px;}
.span-3 {width:110px;}
.span-4 {width:150px;}
.span-5 {width:190px;}
.span-6 {width:230px;}
.span-7 {width:270px;}
.span-8 {width:310px;}
.span-9 {width:350px;}
.span-10 {width:390px;}
.span-11 {width:430px;}
.span-12 {width:470px;}
.span-13 {width:510px;}
.span-14 {width:550px;}
.span-15 {width:590px;}
.span-16 {width:630px;}
.span-17 {width:670px;}
.span-18 {width:710px;}
.span-19 {width:750px;}
.span-20 {width:790px;}
.span-21 {width:830px;}
.span-22 {width:870px;}
.span-23 {width:910px;}
.span-24 {width:950px;margin-right:0;}
.right {float:right;}
/*******************************************************************************************************************
*  LINKS                                                                                                           *
*******************************************************************************************************************/
a, a:link, a:focus, a:visited, a:hover {color: #319BC2;;outline: 0;text-decoration: none}
a:visited {color: #319BC2;}
a:hover {color: #A55000;text-decoration: underline}

/*******************************************************************************************************************
*  TITLES                                                                                                          *
*******************************************************************************************************************/
h1, h2, h3, h4, h5 {margin: 0 0 10px 0;font-weight:bold;}
h1 {font-size: 1.4em;color: #626262; margin-bottom:17px;}
h2 {font-size: 1.2em;color: #9b9b9b;}
h3 {font-size: 1.0em;color: #6b6b6b;}
h4 {font-size: 0.9em;color: #6b6b6b;}
h5 {font-size: 0.8em;color: #6b6b6b;}

.bold {font-weight: 700}
.green {color:#060;}
.red {color:#FF0000;}
.uppercase {text-transform: uppercase;}
.center {text-align: center;}




/*******************************************************************************
   EDITOR 
*******************************************************************************/
svg rect,
svg text 
{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;	
}

#pi {
	display:block;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	height:auto;
	min-width: 400px;
}

#menu {
	position:absolute;
	top:1px;
	left:1px;
	right:0;
	height:49px;
	z-index:1200;
	background: #E5E5E5;
	border: solid #D5D5D5;
	border-width: 0 0 1px 0;

}

#menu ul.sub {
	margin-left:3px;
	min-width:400px;
	height:24px;
	float:left;

	padding: 0;
}

#menu ul.sub li {
	width:20px;
	padding: 2px 2px 2px 2px;
	float:left;
	height:18px;
	background: url('../images/editor/icons.png') no-repeat;
	text-indent:-9999px;
	font-size:0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#menu ul.sub li.fli { cursor:pointer; }
#menu ul.sub li.fli:hover { background-color:#ccc; }
#menu ul.sub li.seperator {
	background-position: -215px -153px;
	width:20px;
	padding:0;

}

#menu ul.sub li.home { background-position: -108px -393px; }
#menu ul.sub li.save { background-position: -106px -725px; }
#menu ul.sub li.tools { background-position: -68px -122px; }
#menu ul.sub li.add { background-position: -70px -4px; }
#menu ul.sub li.remove { background-position: -70px -34px; }
#menu ul.sub li.sort-a { background-position: -108px -34px;  }
#menu ul.sub li.sort-b { background-position: -108px -65px; }
#menu ul.sub li.sort-c { background-position: -108px -97px; }
#menu ul.sub li.clone { background-position: -105px -752px; }
#menu ul.sub li.copy { background-position: -70px -246px; }
#menu ul.sub li.paste { background-position: -40px -93px; }
#menu ul.sub li.preview { background-position: -70px -484px; }
#menu ul.sub li.preview-q { background-position: -70px -303px; }
#menu ul.sub li.edit-q { background-position: -106px -604px; }
#menu ul.sub li.scale-up { background-position: -70px -95px; }
#menu ul.sub li.scale-down { background-position: -70px -544px; }
#menu ul.sub li.order { background-position: -68px -604px; }


#menu ul.sub li.home-disabled { background-position: -182px -393px; }
#menu ul.sub li.save-disabled { background-position: -181px -725px; }
#menu ul.sub li.tools-disabled { background-position: -141px -122px; }
#menu ul.sub li.add-disabled { background-position: -143px -4px; }
#menu ul.sub li.remove-disabled { background-position: -143px -34px; }
#menu ul.sub li.sort-a-disabled { background-position: -181px -34px; }
#menu ul.sub li.sort-b-disabled { background-position: -181px -65px; }
#menu ul.sub li.sort-c-disabled { background-position: -181px -97px; }
#menu ul.sub li.clone-disabled { background-position: -180px -752px; }
#menu ul.sub li.copy-disabled { background-position: -143px -246px; }
#menu ul.sub li.paste-disabled { background-position: -6px -93px; }
#menu ul.sub li.preview-disabled { background-position: -143px -484px; }
#menu ul.sub li.preview-q-disabled { background-position: -143px -303px; }
#menu ul.sub li.edit-q-disabled { background-position: -180px -604px; }
#menu ul.sub li.scale-up-disabled { background-position: -143px -95px; }
#menu ul.sub li.scale-down-disabled { background-position: -143px -544px; }
#menu ul.sub li.order-disabled { background-position: -141px -604px; }

.ad-board {
	float:left;
	width:18px;
	height:18px;
}

#side {
	padding:0;
	margin:0;
	position:absolute;
	top:50px;
	bottom:0;
	width:250px;
	background:#DFDFDF;

}

#aux {
	padding:0;
	margin:0;
	position:absolute;
	top:50px;
	right:0;
	width:370px;
	bottom:0;
	background:#DFDFDF;
}

/* the right property gets set based on the width of the scren in media.css */
.main,
.question,
.settings,
.qwsxcdg
{
	position: absolute;
	top:50px;
	left:250px; 
	bottom:0;
	background:#DFDFDF;
	z-index:1101;
}

.q-d-list-container,
.q-gra-s-container,
.q-d-f-container,
.q-aux-container,
.q-settings-container,
.q-preview-container
 {
	display:block;
	position: absolute;
	top:25px;
	left:5px;
	right:5px;
	bottom:5px;
	background:#F8F8F8;
	border:1px solid #C4C4C4;
}


.pen-tab-container {
	display:block;
	position: absolute;
	font-size:12px;
	top:4px;
	left:5px;
	height:20px;
	width:80%;
}

.pen-tab-item {
	float:left;
	height:20px;
	background:#f1f1f1;
	border:1px solid #C4C4C4;
	margin-left:15px;
	color:#727272;
	padding: 3px 8px 0 8px;

}

#q-d-list {

	display:block;
	background:#f1f1f1;
	border:1px solid #D4D4D4;
	width: 223px;
	position:absolute;
	left:5px;
	top:5px;
	bottom:5px;
	overflow:scroll;
	font-size:12px;


}

#thumbnail, 
#debug
{

	background:#f1f1f1;
	border:1px solid #D4D4D4;
	position:absolute;
	left:5px;
	top:5px;
	bottom:5px;
	right:5px;
	overflow:scroll;
	padding:5px;
	font-size:0.8em;

}

.contents-wrapper {
	display:block;
	background:#f1f1f1;
	border:1px solid #D4D4D4;
	position:absolute;
	left:5px;
	top:5px;
	bottom:5px;
	right:5px;
	overflow:scroll;
}

.mli {
	padding:4px 0 4px 6px;
	margin:0;
	cursor:pointer;
	white-space:nowrap;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.list-step {
	font-weight:700;
	font-size:12px;
}

.list-qid {
	font-size:13px;
	letter-spacing: 1px;
}


.mli:hover {
	background:#ddd;
}


#container {
	padding:0;
	margin:0;
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom:5px;
	background:#F4F4F4;
	border:1px solid #d4d4d4;
	overflow:scroll;
}



#w-preview iframe {

	width:100%;
	height:800px;
	display:block;


}

.question-menu,
.settings-menu,
.preview-menu 
{
	display:block;
	position: absolute;
	top:4px;
	left:5px;
	height:20px;
	width:95%;
	min-width: 375px;
	background: #dfdfdf;
	z-index:1102;
	min-width: 400px
}

ul.tabs 
{
	float:left;
	width:100%;
	margin-left:25px;
	min-width: 375px;
	font-size:12px;
}

ul.tabs li {
	float:left;
	padding: 3px 8px 0 8px;
	text-align:center;
	font-size:1em;
	color:#7C7C7C;
	height:17px;
	border-width:1px 1px 0 0;
	border-color:#C4C4C4;
	border-style: solid;
	cursor: pointer;
}

ul.tabs li:first-child {
	border-width:1px 1px 0 1px;
}

ul.tabs li.open {
	background:#f8f8f8;
	border-bottom:1px solid #f8f8f8;
	z-index:1103;
	cursor:default;
	color:#7c7c7c !important;
}

.label {
	font:11px sans-serif;
}




.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.question .contents,
.settings .contents 
{
	margin:6px;
	float:left;

}

.question .contents .text {
	float:left;
	width:500px;
}
.frame .toolbar {
	height:25px;
	width:450px;
	cursor:pointer;
	margin-bottom:2px;
}

.frame .toolbar a {
	background: url('../images/editor/icons.png') no-repeat;
	height:23px;
	float:left;
	width:23px;
	text-indent:-9999px;
	font-size:0;
	cursor:pointer;
	border: 1px solid rgba(0,0,0,0);
}

.frame .toolbar .seperator { 
	background: url('../images/editor/icons.png') no-repeat -220px -153px;
	height:23px;
	float:left;
	width:10px;
	text-indent:-9999px;
	font-size:0;
	cursor: default;
}

.frame .toolbar a.bold { background-position: -216px -4px; }
.frame .toolbar a.italic { background-position: -214px -33px; }
.frame .toolbar a.underline { background-position: -214px -63px; }
.frame .toolbar a.justify-left { background-position: -6px -423px; }
.frame .toolbar a.justify-center { background-position: -6px -453px; }
.frame .toolbar a.justify-right { background-position: -6px -483px; }
.frame .toolbar a.create-link { background-position: -6px -662px; }
.frame .toolbar a.insert-unordered-list { background-position: -6px -332px; }
.frame .toolbar a.insert-ordered-list { background-position: -6px -302px; }
.frame .toolbar a.format-block-h1 { background-position: -214px -96px; }
.frame .toolbar a.format-block-h2 { background-position: -214px -123px; }
.frame .toolbar a.silver { background-position: -6px -603px; }
.frame .toolbar a.red { background-position: -39px -603px; }
.frame .toolbar a.undo { background-position: -6px -542px; }
.frame .toolbar a.redo { background-position: -6px -572px; }
.frame .toolbar a.switch-view { background-position: -6px -2px; }



.frame .toolbar a:hover { 
	background-color:whiteSmoke;
	border: 1px solid #C4C4C4; 
}

.wysihtml5-command-active {
	background-color: #D6D6D6  !important;
	border: 1px solid #C4C4C4 !important;
}

.question .contents .frame textarea,
.settings textarea
 {
	width:434px;
	float:left;
	border: 1px solid #cccccc;
	padding: 8px;
	font-family: Tahoma, sans-serif;	
	background:white;
}

.create-link-container {
	float:left;
	width:434px;
	border: 1px solid #cccccc;
	border-width:1px 1px 0 1px;
	padding: 2px 8px 2px 8px;
}

.create-link-container-input {
	border:1px solid #ddd;
	width:355px;
	outline:none;
	height:14px;
	padding:2px 5px;
}

.create-link-container .ico {
	width:20px;
	padding: 2px 2px 2px 2px;
	float:right;
	height:18px;
	background: url('../images/editor/icons.png') no-repeat;
	text-indent:-9999px;
	font-size:0;
	cursor:pointer;
}
/* for the create link dialog */
.create-link-container .cl-ok { background-position: -70px -333px;}
.create-link-container .cl-cancel { background-position: -70px -363px; }

.text-area-def,
.text-area-def-2,
.text-area-def-3
{
	width:430px;
	height:40px;
	float:left;
	border: 1px solid #cccccc;
	padding: 8px;
	font-family: Courier, "Courier New", monospace;
	background:white;
}
.text-area-def-3 {margin:10px 0 5px 0; width:430px;}
.text-area-def-2 {margin:10px 0 0 45px; width:385px;}
.text-area-def }{margin:10px 0 0 0; width:430px;}

.question .contents .text .frame textarea { height:200px;}
.question .contents .lm .frame textarea { height:100px;}
.question .contents .lm {
	float:left;
	width:800px;
	margin-bottom:20px;
}

input.ab,
input.ac,
input.ad,
input.ae,
input.af,
input.ah
{
	height:20px;
	border: 1px solid #cccccc;
	margin-bottom:5px;
	padding-left:5px;
	outline:none;
}

input.ab {width:442px; }
input.ac {width:442px; }
input.ad {width:400px; }
input.ae {width:365px; }
input.af {width:125px; }
input.ah {
	font-family: Courier, "Courier New", monospace;
	width: 395px;
}

.close {
	background: url('../images/editor/icons.png') -70px -696px no-repeat;
	height:20px;
	width:28px;
	padding: 0;
	text-indent:-9999px;
	font-size:0;
	cursor:pointer;
	z-index:1109;
	top:2px;
	right:8px;
	position: absolute;
}

.close:hover { background-position: -70px -726px; }
.large-dropdown {width:448px; }
.medium-dropdown {width:348px; }
.fair-dropdown {width:200px; }
.small-dropdown {width:248px; }
.xsmall-dropdown {width:148px; }
.xxsmall-dropdown {width:120px; margin-right:5px;}

/* --------------------------- TABS -------------------------------------- */
.tab {
    margin: 0 0 10px 0;
    display:none;
    padding:15px;
    float:left;
    width:100%;
}


/* table */
.table {
   	margin: 0 0 0 0;	
}

.table tbody {

}

.table tr.separator {
	height:20px;
}

.table td {
	padding: 0 2px;
	color:#7c7c7c;
	
	vertical-align:top;
}
.table td.title {
	width:100px;
	font-weight: 700;
	font-size:13px;
	padding-top:4px;
	color:black;
}



.question-table,
.lm-table,
.settings-table 
{
	width: 600px;
	float:left;
	table-layout: fixed;
}

.thumbnail-table {
   	float:left;
   	margin: 0 0 20px 0;	
   	width:310px;
   	table-layout: fixed
}

.thumbnail-table thead {
	padding: 5px 0 3px 5px;
	text-align: left;
	color: #4B4B4B;
	background-color: #E9E9E9;
}

.thumbnail-table th {
	font-weight:800;
	text-align: left;
	color: #454545;
	padding: 6px;
	border: 1px solid #A4A4A4;
}

.thumbnail-table tbody {
	background-color: white;
}

.thumbnail-table td {
	border: 1px solid #A4A4A4;
	padding: 8px 6px;
	color:black;
	vertical-align: top;
	word-wrap: break-word;
}


/*------------------------------------*\
	Main Menu
\*------------------------------------*/

#main-menu-nav
{
	list-style:none;
	/* Clear floats */
	float:left;
	width:100%;
	margin: 0;
	height:24px;
	border: solid #e5e5e5;
	border-width: 0 0 1px 0;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(213,213,213,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(213,213,213,1)), color-stop(100%,rgba(213,213,213,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(213,213,213,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(213,213,213,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(213,213,213,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(213,213,213,1) 100%); /* W3C */
	/* Bring the nav above everything else--uncomment if needed.
	
	
	*/
}

#main-menu-nav li
{
	float:left;
	margin-right:10px;
	position:relative;
	height:11px;
	color: #666;
	font-size:12px;
	padding:3px 5px 7px 5px;
	text-decoration:none;
	border: 1px solid rgba(0,0,0,0);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	display:block;
	cursor: pointer;
}


/*--- DROPDOWN ---*/
#main-menu-nav ul {
	background:#f1f1f1;
	list-style:none;
	position:absolute;
	display:none;
	width:225px;
	border: 1px solid #BEBEBE;
	z-index:1120;
}
#main-menu-nav ul li {
	width:208px;
	height:12px;
	padding: 6px 2px 6px 15px;
	float:left;
	border: none;
	color: #666;
	font-size:12px;
}

#main-menu-nav ul li a {
	color:#666;
	text-decoration: none;
	width:208px;
	
	display:inline-block;

}
#main-menu-nav ul li.seperator {
	height:1px;
	background:#e1e1e1;
	font-size: 0;
	text-indent: -9999px;
	padding: 0 2px 0 15px;
	margin:4px 0;
	cursor: default;
}

#main-menu-nav ul li.disabled {
	color: #B9B9B9;
	cursor: default;
	background:#f0f0f0;
}

#main-menu-nav ul li.disabled:hover { 
	background:#f0f0f0 !important;
	cursor: default;
}

#main-menu-nav ul li.seperator:hover { 
	background:#e1e1e1;
	cursor: default;
}

#main-menu-nav li:hover { 
	border: solid #BEBEBE;
	border-width: 1px 1px 1px 1px;
	background-color:#ccc;
}

#main-menu-nav li ul li:hover { 
	border: solid #e1e1e1;
	border-width: 0;
}
#main-menu-nav li ul { /* Display the dropdown on hover */
	left:-1px; /* Bring back on-screen when needed */
	top:21px;
	display:none;
}
#main-menu-nav li:hover { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	background-color:#f1f1f1; 
}
#main-menu-nav li:hover ul li:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#e1e1e1;
}











#settings-steps-list {
	height: 120px;
	border: 1px solid #CCC;
	margin-bottom: 5px;
	padding:8px;
	background:white;
	width:436px;
	overflow-y:scroll;
	overflow-x:hidden;
}

.settings-steps-list-i {
	width:420px;
	float:left;
	font-size:1.3em;
	font-weight: 700;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
	padding: 4px 0 4px 4px;
}





.nf-pnd {
	position: absolute;
	background:#F9EDBE;
	border:2px solid #F0C36D;
	height:20px;
	width:100px;
	display: block;
	padding:5px 6px 2px 6px;
	font-size:14px;
	color:black;
	font-weight: 700;
	top:-2px;
	left:50%;
	z-index:1500;
}






















#dbug-contents {
	font-size:1em;
	padding:10px;
}

.dbug-field {
	color: #1E476E;
	margin-left:35px;

}

.dbug-name {
	color:#C56C16;
	font-weight: 700;
	margin-top:5px;
}

.dbug-logic {
	color:#a4e02b;
	font-weight: 700;
}

.dbug-condition-true {
	color:#2E6E02;
	font-weight: 900;
	margin-left:35px;
	margin-bottom: 3px;
}

.dbug-condition-false {
	color:#CF170B;
	font-weight: 900;
	margin-left:35px;
	margin-bottom: 3px;

}

.wrappage {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}

.dbug-action-true {
	color:white;
	font-weight: 400;
	margin-left:55px;
	margin-bottom: 3px;
	padding:3px 6px;
	background:#2E6E02;


    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */

}

.dbug-action-false {
	color:white;
	font-weight: 400;
	margin-left:55px;
	margin-bottom: 3px;
	padding:3px 6px;
	background:#CF170B;
}

.dbug-next {
	font-weight: 700;
	background:#133B3C;
	color:white;
	margin: 0 0 5px 0;
	padding:3px 8px;
	margin: 4px 0 4px 35px;
}

.dbug-button {
	color:#693726;
	margin-left:35px;
}

.aux-thumb-xtra {
	margin: 10px 0 0 4px;
	float:left;
	width:310px;
}

.thumb-loop-t {
	color:white;
	background:blue;
	margin-bottom:5px;
	padding:4px;
	width:302px;
}

.thumb-adv-c {
	font-weight: 900;
	text-transform: uppercase;
	width:95%;
	margin-bottom:5px;

}

.thumb-adv-action-true {
	color:#2E6E02;
	font-weight: 900;
	margin:5px 0;
}

.thumb-adv-action-false {
	color:#CF170B;
	font-weight: 900;
}



/*******************************************************************************
   QUESTION
*******************************************************************************/
.required { color:red;}

#aux .contents {
	float:left;
	width:300px;

}


.var-label {
	font-size:1em;
	margin:4px 0 4px 2px;
	letter-spacing:0.05em;
}

.var-container {
	width:280px;
	float:left;
	padding: 3px 2px 3px 0;
}

.field-reg-text {
	width:240px;
	height:20px;
}

select.dropdown  {
	width:275px;
	font-size:12px;
	margin-left:2px;
}

textarea.textarea {
	max-width:270px;
	width:280px;
	outline:none;
	border:1px solid #bbbbbb;
	padding: 1px 3px;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}

.textbox,
.datepicker-textbox 
{
	outline:none;
	height:22px;
	border:1px solid #bbbbbb;
	padding: 1px 3px;
}

.textbox { width:270px; }
.datepicker-textbox { width:220px; }

#aux .contents .prompt {
	width:290px;

	overflow-y:auto;

	background:#f0f0f0;
	padding:4px 1px 5px 1px;


	margin:0;
}



.text h1 {
    font-size: 1.2em;
    color: #626262;
    margin: 0 0 3px 0;
    font-weight: bold;

}

.text h2 {
	font-size: 1.0em;
	color: #9B9B9B;
	margin: 0 0 3px 0;
	font-weight: bold;

}

.learnmore .data, .helpbox .body {
	width:220px;
	max-height:330px;
	overflow-y:auto;
	overflow-x:hidden;
	background:#eeeeee;
	padding:4px 10px 5px 10px;
	border-width:0 1px 0 1px;
	border-style: solid;
	border-color:#888888;
	margin:0;
}

.helpbox .body p {
	margin: 0 0 10px 0;
	line-height:1.2em;
}

.learnmore .body {
	width:220px;
	padding:0;
	margin:10px 0 0 0;
	display:none;
}

.learnmore .title {
	margin:0;
	line-height:125%;
	font-weight:bold;
}

.learnmore p {
	line-height:125%;
}

.prompt .text {
	margin-bottom:8px;
	float:left;
	width:280px;
	line-height:16px;
}

.prompt p {
	font-size:0.9em;
	line-height:1.2em;
	margin-bottom: 11px;
}


ul.radio-list {
	list-style-type:none;
	padding: 3px 0 2px 3px;
}

ul.checkbox-list {
	list-style-type:none;
	padding: 3px 0 2px 3px;
}

ul.radio-list li {
	margin: 0 0 10px 0;
	font-size:1em;
}

ul.radio-list li input {
	float:left;
	clear:left;
}

ul.radio-list li label {
	display:block; 
	margin-left: 30px;
	clear:right;
}

ul.checkbox-list li {
	margin: 0 0 10px 0;
	font-size:1em;
}

ul.checkbox-list li input {
	float:left;
	clear:left;
}

ul.checkbox-list li label {
	display:block; 
	margin-left: 30px;
	clear:right;
}

/* these are the radio lists for the text prompt */
.text ul {
	list-style-type:circle;
	margin: 0 0 15px 15px;
	
}

.text ul li {
	margin: 0 0 5px 15px;

}

.text ol {
	margin: 0 0 15px 15px;
	list-style-type: decimal
	
}

.text ol li {
	margin: 0 0 5px 15px;
}

.learnmore-button, .helpbox-button {
	width:82px;
	height:20px;
	background:url('../images/viewer/sprite.png') no-repeat;
	text-indent:-9999px;
	font-size:0;
	cursor:pointer;
	float:right;
	margin:10px 10px 0 0;
}

.learnmore-button {background-position: -684px -7px;}
.helpbox-button {background-position: -602px -7px;}

.learnmore-button:hover { background-position: -684px -29px; }
.helpbox-button:hover { background-position: -602px -29px; }

.continue-button, .finish-button {
	width:110px;
	height:30px;
	background:url('../images/viewer/sprite.png') no-repeat;
	text-indent:-9999px;
	font-size:0;
	cursor:pointer;
	float:right;
	margin:20px 10px 0 0;
}
.continue-button { background-position: -303px -2px; }
.continue-button:hover { background-position: -303px -34px; }
.finish-button { background-position: -427px -2px; }
.finish-button:hover { background-position: -427px -34px; }

.loop {display:none;}




.wysiwyg-color-black {color: black;}
.wysiwyg-color-silver {color: #A7A9AC;}
.wysiwyg-color-gray {color: gray;}
.wysiwyg-color-white {color: white;}
.wysiwyg-color-maroon {color: maroon;}
.wysiwyg-color-red {color: #ED1212;}
.wysiwyg-color-purple {color: purple;}
.wysiwyg-color-fuchsia {color: fuchsia;}
.wysiwyg-color-green {color: green;}
.wysiwyg-color-lime {color: lime;}
.wysiwyg-color-olive {color: olive;}
.wysiwyg-color-yellow {color: yellow;}
.wysiwyg-color-navy {color: navy;}
.wysiwyg-color-blue {color: blue;}
.wysiwyg-color-teal {color: teal;}
.wysiwyg-color-aqua {color: aqua;}
.wysiwyg-text-align-right {text-align: right;}
.wysiwyg-text-align-center {text-align: center;}
.wysiwyg-text-align-left {text-align: left;}
.wysiwyg-font-style-italic { font-style: italic;}

.wysiwyg-float-left {
  float: left;
  margin: 0 8px 8px 0;
}

.wysiwyg-float-right {
  float: right;
  margin: 0 0 8px 8px;
}

.wysiwyg-clear-right {clear: right;}
.wysiwyg-clear-left {clear: left;}

/*******************************************************************************
   EDITOR_FIELDS
*******************************************************************************/
.field-property,
.button-property,
.advanced-property,
.field-validation
{
	width:100%;
	float:left;
	margin-bottom:5px;

}

.field-radio-value-property,
.field-checkbox-value-property,
.field-textdropdown-value-property,
.advanced-action-value-property
{
	width:100%;
	float:left;
	margin-top:3px;

}

.current-fields,
.current-buttons,
.current-advanced 
{
	float:left;
	width:1000px;
	height:600px;
}


#cf-list, /* fields list */
#cb-list, /* buttons list */
#ca-list  /* advanced list */
{ 
	float:left;
	width:248px;
	height:300px;
	background:white;
	border:1px solid #ddd;
	padding:10px;
	overflow-x:hidden;
	overflow-y:scroll;
	
}

#field-item,
#button-item,
#advanced-item 
{
	float:left;
	width:650px;
	height:400px;
	background:white;
	border:1px solid #ddd;
	padding:10px;
}





#cf-list-container,
#cb-list-container,
#ca-list-container 
{
	float:left;
	width:270px;
	margin: 0 15px 0 0;
}

#cf-list ul,
#cb-list ul,
#ca-list ul 
{
	float:left;
	width:248px;
}

#cf-list ul li,
#cb-list ul li,
#ca-list ul li  
{
	float:left;
	width:230px;
	padding:4px;
	font-size:12px;
	overflow:hidden;
	cursor:pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.active {
	background:#02779E;
	color:white !important;
	cursor: default;
}

.active:hover {
	background:#02779E !important;
	color:white !important;
	cursor: default !important;
}

.a-label {
	font-family: "Courier New", Courier, monospace;
	font-weight: 700;

}

.b-label,
.c-label,
.d-label,
.e-label
{
	font-weight: 700;
	font-size:12px;
	float:left;
	padding-top:4px;
	text-align:left;	
}

.b-label {
	width:125px;
	height:20px;
}

.c-label {
	width:125px;
	height:200px;
}

.d-label {
	width:55px;
	height:20px;
}

.e-label {
	width:45px;
	height:20px;
}

.cf-list-controls,
.cb-list-controls,
.ca-list-controls 
{
	float:left;
	width:200px;
	margin-top:10px;
}

.cf-list-controls li,
.cf-r-list-controls li, /* radio list controls inside the field item */
.cf-c-list-controls li, /* checkbox list controls inside the field item */
.cf-td-list-controls li,
.cb-list-controls li,
.ca-list-controls li,
.ca-a-list-controls li,/* radvanced list controls inside the advanced item */
.s-list-controls li,
.s-item-controls li
{
	width:20px;
	padding: 2px 2px 2px 2px;
	float:left;
	height:18px;
	background: url('../images/editor/icons.png') no-repeat;
	text-indent:-9999px;
	font-size:0;
	cursor:pointer;
}
.cf-list-controls li.add, 
.cf-r-list-controls li.add,
.cf-c-list-controls li.add,
.cf-td-list-controls li.add,
.cb-list-controls li.add,
.ca-list-controls li.add,
.ca-a-list-controls li.add,
.s-list-controls li.add 
{ 
	background-position: -70px -5px; 
}
.cf-list-controls li.remove,
.cf-r-list-controls li.remove,
.cf-c-list-controls li.remove,
.cf-td-list-controls li.remove,
.cb-list-controls li.remove,
.ca-list-controls li.remove,
.ca-a-list-controls li.remove,
.s-list-controls li.remove
{ 
	background-position: -70px -34px; 
}
.cf-list-controls li.up,
.cf-r-list-controls li.up,
.cf-c-list-controls li.up,
.cf-td-list-controls li.up,
.cb-list-controls li.up,
.ca-list-controls li.up,
.ca-a-list-controls li.up
{ 
	background-position: -70px -753px; 
}
.cf-list-controls li.down,
.cf-r-list-controls li.down,
.cf-c-list-controls li.down,
.cf-td-list-controls li.down,
.cb-list-controls li.down,
.ca-list-controls li.down,
.ca-a-list-controls li.down
{ 
	background-position: -108px -4px; 
}

.s-item-controls li.checkmark
{ 
	background-position: -70px -333px;
}

.s-item-controls li.delete
{ 
	background-position: -70px -363px; 
}

.radio-field-values-container
.checkbox-field-values-container,
.textdropdown-field-values-container 
{
	float:left;
	width:450px;
	height:225px;
	margin-bottom:5px;
}

#radio-field-block,
#checkbox-field-block,
#textdropdown-field-block,
#advanced-action-block
{
	float:left;
	width:450px;
	margin-top:18px;
}

#radio-field-values,
#checkbox-field-values,
#textdropdown-field-values,
#advanced-actions-list {
	float:left;
	width:440px;
	height:100px;
	background:white;
	border:1px solid #ccc;
	padding:4px;
	overflow-x:hidden;
	overflow-y:scroll;
}

.radio-field-value,
.checkbox-field-value,
.textdropdown-field-value,
.action-advanced-value
{
	float:left;
	width:414px;
	padding:4px;
	font-size:12px;
	overflow:hidden;
	cursor:pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#advanced-action {
	float:left;
	width:640px;
	height:125px;
	background:white;
	border:1px solid #ddd;
	padding:10px;
	overflow-x:hidden;
	overflow-y:scroll;
}

.advanced-action-d-container {
	float:left;
	width:45%;
}

.advanced-action-e-container {
	float:left;
	width:100%;
	margin: 10px 0 5px 45px;
}

.ca-a-list-controls,
.cf-r-list-controls,
.cf-c-list-controls,
.cf-td-list-controls 
{
	width:100px;
	float:left;
	border:solid #ccc;
	border-width: 0 1px 1px 1px;
}





/*******************************************************************************
   MEDIA
*******************************************************************************/
@media screen and (min-width: 1001px) {
	.main,
	.question,
	.settings,
	.qwsxcdg
	{
		right:370px;
	}
}

@media screen and (max-width: 1000px) {

	#aux { 
		display: none;
	}

	.main,
	.question,
	.settings,
	.qwsxcdg
	{
		right:1px;
	}

}
