/* Global Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
b,strong {font-weight:bold;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	color: black;
	font-size: 16px;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	background-color: #f8f8f8;
	line-height: 1;
    margin:0;
    height:100%
}

label {
	color: #333;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 225px;
    width: 0;
    height: 100%;
    margin-left: -225px;
    overflow-y: auto;
    background: #f0f0f0;
    border-right:1px solid #cfcfcf;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper .footer {
    position: absolute;
    padding: 15px;
    bottom: 0;
    left: 0;
}

#sidebar-wrapper .footer p {
	font-size: 11px;
	color: #757575;
}

#sidebar-wrapper .footer a {
	color: #5a5a5a;
}

#wrapper.toggled #sidebar-wrapper {
    width: 225px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px 15px 15px 15px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 225px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    padding-left: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    font-size:1.3em;
    letter-spacing: 1px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 83px;
    font-size: 18px;
    line-height: 60px;
    background:#f3f3f3;
    border-bottom:1px solid #e1e1e1;
    margin-bottom: 20px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-nav > .sidebar-brand img.logo {
    opacity: 0.2;
    margin-top:22px;
}

.sidebar-nav .description {
    font-size: 14px;
    line-height: 1.15em;
    color: #505050;
    padding-right: 20px;
    max-height: 200px;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.sidebar-nav .name {
    font-size: 15px;
    line-height: 18px;
    color: #3a3a3a;
    font-weight: bold;
    max-height: 18px;
    width:210px;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
    margin-bottom: 8px;
}

/*.navbar .container-fluid, .navbar-collapse {
    padding-left:0;
}
.navbar-collapse.in {
    padding-left:30px;
}*/

.navbar-default {
    border-color: #cfcfcf;
}

.navbar-default .navbar-nav>li>a {
	color: #666;
}

.red {
	color: red;
}

.green {
	color: green;
}

.light-grey {
	color: #999;
}


.panel-title {
	font-size: 20px;
}

.panel-heading a {
	color: #333;
	text-decoration: none;
}

.panel-heading a:hover {
	color:#000;
	text-decoration: none;
}

.well h3 {
	font-size:20px;
	font-weight: 700;
	margin-top: 0
}

.well p:last-child {
	margin-bottom: 0;
}

.margin-20-bottom {
	margin-bottom: 20px;
}

.margin-20-top {
	margin-top: 20px;
}

.interview-deliverable:hover {
/*	cursor: pointer;
	border-color:#ccc;*/
}

.interview-deliverable .media p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-ms-word-break: break-all;
	word-break: break-all;

	/* Non standard for webkit */
	word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.interview-deliverable .media-body {
	font-size: 0.9em;
	color:#333;
}

.fa-2 {
	font-size: 2em;
}

.fa-3 {
	font-size: 3em;
}

.fa-4 {
	font-size: 4em;
}

.login {
    margin-top: 150px;
}

.error-template {
    border:1px solid #e1e1e1; 
    margin-top:100px
}

@media (min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

	#topbar-wrapper {
	    left: 225px;
	}

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 226px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px 20px 20px 20px;

    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	font-size: 1.0em;
}
i { font-style: italic; }


/* GOOGLE TRANSLATE
*/
#google_translate_element {
	float: right;
	width:140px !important;
	height:29px !important;
	overflow: hidden !important;
	background-color: #525455;
	padding:6px 10px 10px 10px;
	text-align: center;
	vertical-align: middle;
	background: url('../images/viewer/sprite.png') -1px -154px no-repeat;
}

#google_translate_element .goog-te-gadget {
	float: right;
	width:140px !important;
	height:25px !important;
	overflow: hidden !important;
}

#google_translate_element select {
	width:124px;
	height:25px;
	margin:0 0 0 8px;
	display: block;
	padding:3px;
	font-size:12px;
	border:2px solid white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color:white;
	outline: 0;
}
#google_translate_element select option {
	font-size: 12px;
}

/*******************************************************************************************************************
*  LINKS                                                                                                           *
*******************************************************************************************************************/
.text a, .learnmore a,
.text a:link, .learnmore a:link,
.text a:focus,.learnmore a:focus{
	color: #11C;
	outline: 0;
	text-decoration:none;
	font-weight: bold;
}
.text a:visited, .learnmore a:visited {
	color: #11C
}
.text a:hover, .learnmore a:hover {
	color: #11C;
	text-decoration: underline;
}

/*******************************************************************************************************************
*  TITLES                                                                                                          *
*******************************************************************************************************************/
h1, h2, h3, h4, h5 {
	margin: 0 0 15px 0;
	font-weight:bold;
}
h1 {font-size: 24px;color: #333;}
h2 {font-size: 22px;color: #333;}
h3 {font-size: 20px;color: #333;}
h4 {font-size: 1em;color: #333;}
h5 {font-size: 1em;color: #333;}

.important { font-weight:800; text-transform:uppercase; }
.bold { font-weight:700; }
.italic  { font-style: italic;}
.error { background-color: #D23D24; }
.sub-label { letter-spacing: normal;font-weight:normal;color:#515151;font-style:italic;}
.success { background-color: #55B05A; }
.last-child { margin-bottom: 0 !important; }
.var-error { background-color: #FFFF00; }
.clear {clear: both;}
.none, .replace, .replace-ordinal, .replace-date {display: none} 
.required { color:red;}
.undefined {color:red; font-weight: 900;}

#progress {
	margin:8px 0 0 0px;
	font-size: 0.75em;
	letter-spacing: 0.05em;
}

#question .well {
	background-color: #FFF;
	webkit-box-shadow: 0;
	box-shadow: 0;
	padding: 15px 15px 0 15px;
	border-color: #cfcfcf;
}

.learnmore .well {
	webkit-box-shadow: none;
	box-shadow: none;
	padding: 15px;
}

.question-footer {
	padding: 15px;
	border-top:1px solid #cfcfcf;
	background-color: #f5f5f5;
	margin-top:20px;
}

#question .form-group {
	margin-bottom: 0;
}

#question .form-group label {
	color: #000;
	font-weight: normal;
	font-size: 1em;
	letter-spacing: 0.05em;
}

#main .help {
	color:#ce7049;
	font-weight:700;
	cursor:pointer;
}

#main .help:hover {color:#5a301a}

.var-label {
	font-size:1em;
	margin:4px 0 4px 2px;
	letter-spacing:0.05em;
	padding: 5px 2px 2px 0px;
}


.var-container {
	padding:10px 5px 10px 5px;
}

.step-progress .step {
	font-size: 26px;
	color: #424242;
	font-weight: bolder;
}

.fractional-d {
	margin-top:11px;
	float:left;
	min-width:35px;
	text-align: center;
	font-size: 16px;
	color: #777;
	padding:6px 4px;
	margin-left: 15px;

	background-color: #F1f1f1;
	border: 1px solid #E3E3E3;
	border-radius: 4px;
}

.text {
	margin-bottom:10px;
	font-size:120%;
	line-height:120%;
}

.modal-body {
	font-size: 0.85em;
	line-height: 150%
}

.text .modal-body div {
	margin-bottom: 10px;
}

.prompt p {
	font-size:0.9em;
	line-height:1.2em;
	margin-bottom: 11px;
}


ul.radio-list {
	list-style-type:none;
	padding: 3px 0 2px 3px;
}

ul.checkbox-list {
	list-style-type:none;
	padding: 3px 0 2px 3px;
}

ul.radio-list li {
	margin: 0 0 10px 0;
	font-size:1em;
}

ul.radio-list li input {
	float:left;
	clear:left;
}

ul.radio-list li label {
	display:block; 
	margin-left: 30px;
	clear:right;
}

ul.checkbox-list li {
	margin: 0 0 10px 0;
	font-size:1em;
}

ul.checkbox-list li input {
	float:left;
	clear:left;
}

ul.checkbox-list li label {
	display:block; 
	margin-left: 30px;
	clear:right;
}

/* these are the radio lists for the text prompt */
.text ul {
	list-style-type:disc;
	margin: 6px 0 7px 35px;
	
}
/* these are the radio lists for the text prompt */
.learnmore .lm-body-sm ul {
	list-style-type:disc;
	margin: 0 0 15px 15px;
	
}

.text ul li, .learnmore .lm-body-sm ul {
	margin: 0 0 5px 15px;
}

.learnmore .lm-title-sm {
	margin-bottom:15px;
}

.learnmore .lm-body-sm {
	color: #333;
	font-size: 0.95em;
}

.learnmore .lm-body-sm div {
	margin-bottom:8px;
}

.text ol {
	margin: 0 0 15px 55px;
	list-style-type: decimal
}

.learnmore .lm-body-sm ol {
	margin: 0 0 15px 15px;
	list-style-type: decimal
}


.text ol li, .learnmore .lm-body-sm ol li {
	margin: 0 0 5px 15px;
}

.loading {
	background:url('../images/viewer/loader.gif') no-repeat;
	height:25px;
	width:27px;
	float:right;
	display: inline-block;
	margin: 10px 0 0 3px;
}

.loop {
	display:none;
}

.help-modal {
	color:green !important;
}

.var-label .help-modal {
	color:red !important;
}

.youtube-modal {
	color:#b1510a !important;
}


.var-label .help-tooltip .display {
	font-weight: 700;
	cursor: default;
	border-bottom: 1px dotted red;
}

.wysiwyg-color-black {color: black;}
.wysiwyg-color-silver {color: #A7A9AC;}
.wysiwyg-color-gray {color: gray;}
.wysiwyg-color-white {color: white;}
.wysiwyg-color-maroon {color: maroon;}
.wysiwyg-color-red {color: #ED1212;}
.wysiwyg-color-purple {color: purple;}
.wysiwyg-color-fuchsia {color: fuchsia;}
.wysiwyg-color-green {color: green;}
.wysiwyg-color-lime {color: lime;}
.wysiwyg-color-olive {color: olive;}
.wysiwyg-color-yellow {color: yellow;}
.wysiwyg-color-navy {color: navy;}
.wysiwyg-color-blue {color: blue;}
.wysiwyg-color-teal {color: teal;}
.wysiwyg-color-aqua {color: aqua;}
.wysiwyg-text-align-right {text-align: right;}
.wysiwyg-text-align-center {text-align: center;}
.wysiwyg-text-align-left {text-align: left;}
.wysiwyg-text-style-italic { font-style: italic;}
.wysiwyg-font-style-italic { font-style: italic;}

.wysiwyg-float-left {
  float: left;
  margin: 0 8px 8px 0;
}

.wysiwyg-float-right {
  float: right;
  margin: 0 0 8px 8px;
}

.wysiwyg-clear-right {clear: right;}
.wysiwyg-clear-left {clear: left;}



/*******************************************************************************************************************
*  DATEPICKER                                                                                                      *
*******************************************************************************************************************/

.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Component containers
----------------------------------*/
.ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #d9d6c4; background: #eceadf url('../images/viewer/datepicker/ui-bg_fine-grain_10_eceadf_60x60.png') 50% 50% repeat; color: #1f1f1f; }
.ui-widget-content a { color: #1f1f1f; }
.ui-widget-header { border: 1px solid #d4d1bf; background: #ffffff url('../images/viewer/datepicker/ui-bg_fine-grain_15_ffffff_60x60.png') 50% 50% repeat; color: #453821; font-weight: bold; }
.ui-widget-header a { color: #453821; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #cbc7bd; background: #f8f7f6 url('../images/viewer/datepicker/ui-bg_fine-grain_10_f8f7f6_60x60.png') 50% 50% repeat; font-weight: bold; color: #654b24; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #654b24; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #654b24; background: #654b24 url('../images/viewer/datepicker/ui-bg_fine-grain_65_654b24_60x60.png') 50% 50% repeat; font-weight: bold; color: #ffffff; }
.ui-state-hover a, .ui-state-hover a:hover { color: #ffffff; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #d9d6c4; background: #eceadf url('../images/viewer/datepicker/ui-bg_fine-grain_15_eceadf_60x60.png') 50% 50% repeat; font-weight: bold; color: #140f06; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #140f06; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #b2a266; background: #f7f3de url('../images/viewer/datepicker/ui-bg_fine-grain_15_f7f3de_60x60.png') 50% 50% repeat; color: #3a3427; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #3a3427; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #681818; background: #b83400 url('../images/viewer/datepicker/ui-bg_fine-grain_68_b83400_60x60.png') 50% 50% repeat; color: #ffffff; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #ffffff; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #ffffff; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images/viewer */
.ui-icon { width: 16px; height: 16px; background-image: url('../images/viewer/datepicker/ui-icons_222222_256x240.png'); }
.ui-widget-content .ui-icon {background-image: url('../images/viewer/datepicker/ui-icons_222222_256x240.png'); }
.ui-widget-header .ui-icon {background-image: url('../images/viewer/datepicker/ui-icons_b83400_256x240.png'); }
.ui-state-default .ui-icon { background-image: url('../images/viewer/datepicker/ui-icons_b83400_256x240.png'); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url('../images/viewer/datepicker/ui-icons_ffffff_256x240.png'); }
.ui-state-active .ui-icon {background-image: url('../images/viewer/datepicker/ui-icons_8c291d_256x240.png'); }
.ui-state-highlight .ui-icon {background-image: url('../images/viewer/datepicker/ui-icons_3572ac_256x240.png'); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url('../images/viewer/datepicker/ui-icons_fbdb93_256x240.png'); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; -khtml-border-top-left-radius: 6px; border-top-left-radius: 6px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; -khtml-border-top-right-radius: 6px; border-top-right-radius: 6px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; -khtml-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; -khtml-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }

/* Overlays */
.ui-widget-overlay { background: #6e4f1c url('../images/viewer/datepicker/ui-bg_diagonal-maze_20_6e4f1c_10x10.png') 50% 50% repeat; opacity: .60;filter:Alpha(Opacity=60); }
.ui-widget-shadow { margin: 0 0 0 -10px; padding: 5px; background: #000000 url('../images/viewer/datepicker/ui-bg_diagonal-maze_40_000000_10x10.png') 50% 50% repeat; opacity: .60;filter:Alpha(Opacity=60); -moz-border-radius: 18px; -khtml-border-radius: 18px; -webkit-border-radius: 18px; border-radius: 18px; }/*
 * jQuery UI Datepicker 1.8.18
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; font-size:1.0em;}
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

.ui-datepicker-trigger {
    width: 36px; /*must have*/
    height: 36px; /*must have*/
    margin-left:5px;
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

}