<div id="admin">
	<% include header %>
	<div class="contents-container">
		<div class="contents">
			<h1>Oops!</h1>
			
			<div class="span-21 left">
				<p>We're sorry, but you do not have permission to complete this action.</p>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>