<!DOCTYPE html>
<html lang="en">
	<head>
	  	<meta charset="utf-8"/>
	  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	  	<title>LogicPull - Forgot Password</title>
	 	<meta name="robots" content="noindex, nofollow" />
		<% if (settings.env === 'development') { %>
			<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css?v=<%= settings.version %>">
		<% } else { %>
			<link rel="stylesheet" type="text/css" href="/stylesheets/admin.min.css?v=<%= settings.version %>">
		<% } %>
	</head>
	<body>
		<div id="admin">
			<div class="header-container">
				<div class="header">
					<h1><a href="/manager"><img src="/images/logo.png"></a></h1>
					<div class="acc"></div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="nav-container">
				<div class="nav"></div>	
			</div>

			<div class="clear"></div>
			<div class="contents-container">
				<div class="contents">
					<div class="title"><h1>Reset your password</h1></div>
					<div class="clear"></div>
					<div class="side">
						<h2>Still having trouble?</h2>
						<p>If you don't receive an email from us within a few minutes, check your spam filter as sometimes they end up in there. The email will be from <strong>support@logicpull.com</strong></p>
					</div>
					<div class="wide">
						<p>Enter your email address and we’ll send you further instructions to reset you password, in case its been forgotten, or you would just like to update it.</p>
						<br>
						<% if (info[0] === true) { %>
							<div class="success">We have sent you instructions on how to reset you password.</div>
							<div class="clear"></div>
						<% } else { %>
							<% if (msg && ! msg.valid) { %>
								<div class="error"><%= msg %></div>
								<div class="clear"></div>
							<% } %>
						<% } %>

						<form method="post" action="/manager/reset">
							<input type="hidden" name="_csrf" value="<%= token %>" />
							<table class="add-table table">
								<tbody class="b">
						            <tr>
						            	<td>
						            		<div class="label">Email:</div>
						            		<input type="text" name="email" class="ab" />
						            	</td>
						            </tr>
								</tbody>
							</table>
							<div class="clear"></div>
							<input type="submit" value="Reset Password" class="right" />
							<br>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>