<div class="row">
  <div class="col-lg-12">

    <h1>Add a New Interview</h1>

    <div class="row">
      <div class="col-lg-8">
        <% if (msg) { %>
          <div class="alert alert-danger" role="alert">
            <%- msg %>
          </div>
        <% } %>

        <p>A new interview must contain a valid name, and description.</p>

        <form role="form" method="post" action="">
          <input type="hidden" name="_csrf" value="<%= token %>"/>
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" />
          </div>
          <div class="form-group">
            <label for="form-description">Description</label>
            <textarea name="description" class="form-control" rows="3"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
          <a class="btn btn-default pull-right" href="/manager">Cancel</a>
        </form>
      </div>

      <div class="col-lg-4">
        <div class="well">
          <h3>Help</h3>
          <p>A new interview must contain a valid name, and description.</p>
        </div>
      </div>      
    </div>
  </div>
</div>