<div class="row">
	<div class="col-lg-12">

		<h1>Export Interview Data</h1>

		<div class="row">
			<div class="col-lg-8">

				<form role="form" method="post" action="">
					<input type="hidden" name="_csrf" value="<%= token %>"/>
					<input type="hidden" name="interview" value="<%= interview.id %>"/>

					<div class="form-group">
						<p class="help-block">This action will output the interview data which can be imported into another interview.</p>
					</div>

					<button type="submit" name="confirm" value="Export" class="btn btn-primary">Export</button>
					<a class="btn btn-default pull-right" href="/manager/interview/<%= interview.id %>">Cancel</a>
				</form>
			</div>		
		</div>
	</div>
</div>