<!-- add a new deliverable -->

<div id="admin">
	<% include ../../header %>
	<div class="contents-container">
		<div class="contents">
			<div class="title"><h1>Add a New Deliverable</h1></div>
			<div class="clear"></div>

			<div class="side">
				<h2>Help</h2>
				<p>A new interview must contain a valid name, and description.</p>
			</div>
			<div class="wide">
				<% if (msg) { %>
					<div class="error">
						<%- msg %>
					</div>
				<% } %>
				<form method="post" action="" enctype="multipart/form-data">
					<input type="hidden" name="_csrf" value="<%= token %>"/>
					<input type="hidden" name="interview" value="<%= interview.id %>"/>
					<table class="add-table table">
						<tbody class="b">
				            <tr>
				            	<td>
				            		<div class="label">Style Sheet:</div>
				            		<input type="file" name="file" />

				            	</td>
				            </tr>
				            <tr>
				            	<td>
				            		<div class="label">Name:</div>
				            		<input type="text" name="outname" class="ab" />

				            	</td>
				            </tr>
				            <tr>
				            	<td>
				            		<div class="label">Description:</div>
				            		<textarea name="description" class="textarea-a"></textarea>
				            	</td>
				            </tr>
				            <tr>
				            	<td>
				            		<div class="label">Output Type:</div>
				            		<select name="output">
				            			<option value="pdf">pdf</option>
				            			<option value="pdf_form">pdf form</option>
				            			<option value="rtf">rtf</option>
				            			<option value="doc">doc</option>
				            			<option value="docx">docx</option>
				            			<option value="odt">odt</option>
				            			<option value="xml">xml</option>
				            			<option value="xml_msaccess">xml (MSACCESS)</option>

				            		</select>
				            	</td>
				            </tr>
				            <tr>
				            	<td>
				            		<div class="label">Form:</div>
				            		<input type="file" name="pdf_form_file" />

				            	</td>
				            </tr>
				            <tr>
				            	<td>
				            		<div class="label">Loop:</div>
				            		<input type="checkbox" name="looper" value="yes" />

				            	</td>
				            </tr>
						</tbody>
					</table>
					<div class="clear"></div>
					<input type="submit" value="Save" class="right"/>
					<a class="confirm right" href="/manager/interview/<%= interview.id %>"><span>Cancel, and go Back</span></a>
				</form>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>