<!DOCTYPE html>
<html lang="en">

	<head>
	  	<meta charset="utf-8"/>
	  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	  	<title>404</title>
	 	<meta name="robots" content="noindex, nofollow" />
		<% if (settings.env === 'development') { %>
			<link rel="stylesheet" type="text/css" href="/interviews/stylesheets/interviews.css?v=<%= settings.version %>">
		<% } else { %>
			<link rel="stylesheet" type="text/css" href="/interviews/stylesheets/interviews.min.css?v=<%= settings.version %>">
		<% } %>
	</head>
	<body>
		<div id="wrapper">
			<div class="header-container">
				<div class="header">
					<h1><a href="/interviews"><img src="/images/logo.png"></a></h1>
				</div>
			</div>
			<div class="clear"></div>
			<div class="nav-container">
				<div class="nav"></div>	
			</div>
			<div class="clear"></div>
			<div class="contents-container-404">
				<div class="contents">
				<div class="e-404">Page not Found!</div>
				<p class="p-404">Sorry but the page you are looking for cannot be found. Some of the possible reasons this may have happened are:</p>
				<ul class="l-404">
					<li>A broken link on our site</li>
					<li>A mistyped URL</li>
					<li>You do not have sufficient privledges.</li>
				</ul>
				</div>
			</div>
		</div>
	</body>
</html>