<div id="wrapper">
	<% include header %>
	<div class="contents-container">
		<div class="contents">
			<h1>Saved Interviews</h1>
			<div class="span-19 left">
				<table class="interviews-table table">
					<thead class="b">
						<tr><th colspan="5">Interviews</th></tr>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>Progress</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody class="a">

						<% for (var j = 0; j < saves.length; j++) { %>
						<tr>
							<td><%= saves[j].interview.name %></td>
							<td><%= saves[j].note %></td>
							<td><%= saves[j].data.state.distance[saves[j].qid] %></td>
							<td><%= saves[j].created %></td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
	<% include footer %>
</div>