<div class="header-container">
	<div class="header">
		<h1><a href="/interviews"><img src="/images/logo.png"></a></h1>
		<div class="acc"><a href="/interviews"><%= name %></a> <span>&nbsp;|&nbsp;</span> <a href="/interviews/logout">logout</a></div>
	</div>
</div>
<div class="clear"></div>
<div class="nav-container">
	<div class="nav">
		<ul class="nav-buttons">
			<li><a href="/interviews">interviews</a></li>
			<li class="nav-b-au"><a href="/">help</a></li>
		</ul>
	</div>	
</div>
<div class="clear"></div>