<div class="row">
	<div class="col-lg-12">

		<h1>Interviews</h1>

		<div class="row">
			<div class="col-lg-12">
				<% for (var j = 0; j < interviews.length; j++) { %>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><a href="<%= interviews[j].live_url %>"><%= interviews[j].name %></a></h3>
						</div>
						<div class="panel-body">
							<p><%= interviews[j].description %></p>
						</div>
					</div>
				<% } %>
			</div>
		
		</div>
	</div>
</div>